#home {
    width: 60vw;
    margin: 40px auto;
    text-align: center;
    border: 2px solid rgb(30, 30, 151);
    border-radius: 20px;
    background-color: #37c8f9;
    color: darkgreen;
    padding: 20px;
}

#home a{
    text-decoration: none;
    color: rgb(30, 30, 151);
}

#home img {
    border-radius: 10px;
    border: 2px solid darkgreen;
}

#home #bio-buttons img{
    border: none;
    padding: 0 20px;
    opacity: 0.8;
}

#home #bio-buttons img:hover{
    transform: scale(1.2);
}