.Map-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Map {
    width: 1000px;
}

#tool-tip{
    background-color: darkgreen;
    font-size: 26px;
    color: rgb(183, 221, 255);
}
