.Map-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Map {
    width: 1000px;
}

#tool-tip{
    background-color: green;
    font-size: 26px;
}
