#map-area {
    width: 900px;
    margin: 60px auto;
    border: 2px solid darkgreen;
    border-radius: 10px;
    background-color: #37c8f9;
    /* background-color: rgb(8, 75, 126); */
    /* margin-bottom: 40px; */
}