nav {
  height: 80px;
  background-color: rgb(255, 79, 79);
  padding: 4px 26px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: rgb(30, 30, 151);
}

nav a {
    text-decoration: none;
}

nav a h1 {
    font-size: 60px;
}

.nav-link {
    font-size: 18px;
    border: 2px solid aquamarine;
    border-radius: 10px;
    background-color: darkgreen;
    padding: 6px 20px;
    margin-left: 39px;
    color: aquamarine;
    height: auto;
    z-index: 1;
}

.nav-link:hover {
    background-color: rgb(30, 30, 151);
    border: 2px solid aquamarine;
}
