nav {
  height: 80px;
  background-color: rgb(255, 79, 79);
  /* position: fixed;
    top: 0;
    left: 0;
    width: 100vw;; */
  display: flex;
  padding: 8px 10px;
  align-items: center;
  justify-content: space-between;
}
