#sign-in {
  width: 30vw;
  margin: 40px auto;
  border: 4px solid darkgreen;
  background-color: aquamarine;
  border-radius: 20px;
  padding: 20px;
  color: rgb(30, 30, 151);
  display: flex;
  flex-direction: column;
}

#sign-in form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  line-height: 1.4;
  padding: 20px;
}

#sign-in form label {
    font-weight: bold;
  }

#sign-in form input {
  color: rgb(30, 30, 151);
}

#sign-in-button {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 100px;
  align-self: center;
  color: rgb(30, 30, 151);
  border: 2px solid rgb(30, 30, 151);
  border-radius: 10px;
  padding: 2px;
  background-color: rgb(183, 221, 255);
}

#sign-in-button:hover {
  background-color: rgb(255, 79, 79);
  cursor: pointer;
}

#sign-in a {
  text-decoration: none;
  color: #282c34;
  text-align: center;
  font-size: 16px;
  margin-top: 6px;
}

#sign-in a:hover{
    color: rgb(255, 79, 79);
    font-size: 18px;
}