.trips-page .trips .tooltip {
  position: relative;
  display: inline-block;
}

.trips-page .trips .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(30, 30, 151);
  color: rgb(187, 240, 249);
  text-align: center;
  border-radius: 6px;
  padding: 4px 4px;
  opacity: 0.9;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.trips-page .trips .tooltip:hover .tooltiptext {
  visibility: visible;
}
