.trips-page {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.trips h2 {
  font-size: 40px;
  text-align: center;
  color: rgb(30, 30, 151);
}

#add {
  height: 60px;
  border: 2px solid rgb(30, 30, 151);
  border-radius: 50%;
  margin-left: 8px;
}

#add::after{
  content: attr(data-tooltip);
}

.trips ul {
    list-style-image: url("../Assets/plane.png");
    line-height: 3;
}

.trips ul li a {
  text-decoration: none;
  font-size: 18px;
  color: rgb(30, 30, 151);
}

.trips ul li a:hover {
    color: rgb(255, 79, 79);
}
