/* dark-blue rgb(30, 30, 151) */
/* red rgb(255, 79, 79) */
/* dark green
aquamarine */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0;
  background-color: rgb(187, 240, 249);
  font-family: "Nunito", Helvetica, Arial;
  /* -webkit-font-smoothing: antialiased; */
}

#suitcase{
  z-index: -1;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 240px;
  padding-bottom: 20px;
  opacity: 0.6;
  
}

#compass-rose {
  z-index: -1;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 160px;
  padding-bottom: 40px;
  padding-right: 10px;
  opacity: 0.9;
}