/* background-color: #282c34; */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0;
  background-color: rgb(234, 217, 217);
  font-family: "Nunito", Helvetica, Arial;
  /* -webkit-font-smoothing: antialiased; */
}

#compass-rose {
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 240px;
  padding-bottom: 20px;
  opacity: 0.9;
}